* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 4000px;
  background-color: #f1f1f1 !important;
}

/* ! pragres top web page*/
#progress-bar {
  --progress: 0;
  height: 4px;
  width: var(--progress);
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 33333;
}

/* !end pragres */

/* ! header */
.navbar {
  background-color: #343a40;
  background-color: transparent !important;
  color: #343a40 !important;
  position: sticky;
  top: 0;
  z-index: 3;
  transition: 0.3s all linear;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
}

.btn {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}

/* ? onscroll add style for java script*/
.scrolled {
  background-color: #ffffff8a !important;
  color: white !important;
  z-index: 2000;
  box-shadow: 1px 4px 15px hsl(229, 75.9%, 25.9%, 0.5);
  backdrop-filter: blur(14px);
  transition: 0.3s all linear;
}

.scrolled .nav-item a {
  color: #111 !important;
  transition: 0.3s all linear;
}

/* end onscroll */
@media only screen and (max-width: 600px) {
  .navbar {
    background-color: #343a40 !important;
    color: #ffffff !important;
  }
}

/* ! main section */
#main-section {
  background-color: #f1f1f1;
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  position: relative;
  padding-top: 70%;
  /* 70% is the aspect ratio of the image */
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .img-container {
    padding-top: 0;
  }

  .img-container img {
    position: relative;
    width: 100%;
    height: auto;
  }
}

#main-section {
  background-image: url(img/img--waved__gradient.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  transform: translateY(-69px);
  height: 100vh;
  overflow: hidden;
}

/* !imprtent back */
/* RTL support
  [dir="rtl"] .col-md-6:first-child {
  order: 2;
  }
  
  [dir="rtl"] .col-md-6:last-child {
  order: 1;
  } */
/* ! end imprtent back */
@media only screen and (max-width: 600px) {
  #main-section {
    height: calc(100vh + -447px);
    /* افترضنا أن ارتفاع الصورة 300px */
  }
}

/* ! sections sryle all */
#your-section {
  background-color: #f1f1f1;
  padding: 30px 0;
}

.c {
  background: #fff !important;

}

.fg {
  padding: 0px 0 !important;
  transform: translateY(-106px);
}

#your-section h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

#your-section p {
  font-size: 24px;
  margin-bottom: 30px;
}

#your-section button {
  padding: 15px 30px;
  background-color: #1abc9c;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#your-section button:hover {
  background-color: #148f77;
}

#your-section .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#your-section img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .g {
    display: flex !important;
    flex-direction: column-reverse !important;

  }
}

/* ! end sections sryle all */
/* slid */
/* تحديد حجم الشرائح */
.carousel-item {
  height: 400px;
}

/* تخفيف حجم النص في الشرائح */
.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

/* تغيير لون الأزرار السابقة والتالية */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev {
  left: -1%;
}

.carousel-control-next {
  right: -1%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, .5);
}

.carousel-control-prev span,
.carousel-control-next span {
  font-size: 3rem;
}

/* end slid */

.counter {
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px 0;
  margin-bottom: 30px;
  color: #333;
}

.counter i {
  font-size: 48px;
  margin-bottom: 15px;
  color: #38b6ff;
}

.counter h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.counter p.counter-count {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

/* card */
.card {
  text-align: center;
  /* height: 0px; */
}

/* end card */


.b {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  font-size: 18px;
  background: linear-gradient(90deg, #f84fcc, #4140b0);
  color: #fff;
}

svg {
  margin: 0 0 0 10px;
}

.b:hover svg {
  margin: 0 0 0 25px;
  transition: 0.3s;

}

.b:not(:hover) svg {
  transition: 0.3s;
}

.b:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
}

.b:not(:active) {
  transition: 200ms;
}

.hg {
  background: linear-gradient(90deg, #f84fcc, #4140b0);
}

/* ! end sled sctio */
.hs {
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  margin: 0 -20px;
}

.hs__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.hs__headline {
  flex: 1;
}

.hs__arrows {
  align-self: center;
}

.hs__arrows .arrow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  filter: brightness(5);
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.hs__arrows .arrow.disabled:before {
  filter: brightness(2);
}

.hs__arrows .arrow.arrow-prev:before {
  transform: rotate(90deg);
  margin-right: 10px;
}

.hs__arrows .arrow.arrow-next:before {
  transform: rotate(-90deg);
}

.hs__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  user-select: none;
}

@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}

.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}

.hs__item:first-child {
  margin-left: calc(10px * 2);
}

.hs__item__description {
  z-index: 1;
  align-self: flex-start;
  margin: 10px 0;
}

.hs__item__subtitle {
  color: #aaa;
  display: block;
}

.hs__item__image__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.hs__item__image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}

@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }

  .hs__wrapper .hs__item {
    flex: 1 0 calc(23% - 10px * 2);
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */
/* body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Muli', sans-serif;
  color: white;
  background: white;
  line-height: 1.5;
  letter-spacing: 0.15px;
} */
.containe {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f1f1f1 !important;
  mix-blend-mode: invert;

}

@media only screen and (min-width: 990px) {
  .containe {
    padding: calc(10px * 4) 0;
    /* إزالة الpadding الأفقي */
  }
}

.description {
  max-width: 990px;
  color: #212121;
  margin: 0 auto;
  padding: calc(10px * 4);
}

ul {
  padding: 0;
  margin: 0;
}
.hs__arrows .arrow:before {
  filter: brightness(0%); /* تجعل الأسهم باللون الأسود */
}
/* ! end sled sctio */